<!-- <h1>Post Show</h1> -->

<section class="row">

    <div class="col-xs-12 user-details">
      <div class="user-image" style="background-image:url('{{ postsShow.post.user.image}}')"></div>
      <a ui-sref="usersShow({id: postsShow.post.user.id})">{{ postsShow.post.user.username}}</a>
    </div>

    <!-- <h2>Post Id: {{ postsShow.post.id }}</h2> -->
    <div class="col-md-6 col-xs-12">
      <div class="post-image" style="background-image:url({{ postsShow.post.image }})">{{ post.createdAt | date:'fullDate' }}</div>
    </div>
    <!-- <img class="postimg" src="{{ postsShow.post.image }}" alt=""/> -->

    <div class="col-md-6 col-xs-12">
      <p>{{ postsShow.post.caption }}</p>

      <div class="suggestions">
        <h3>SHOP THIS LOOK</h3>
        <hr>

        <ul>

            <li style="background-image:url('{{ suggestion.image }}')" class="suggestion-single" ng-repeat="suggestion in postsShow.post.suggestions">
              <a href="{{ suggestion.link }}" target="_blank">
              <div class="suggestion-overlay">
                <h3>£{{ suggestion.price }}</h3>
              </div>
              </a>
              <!-- <img src="{{ suggestion.image }}" class="suggestion-single"> -->
            </li>

          <!-- REMEMBER TO STYLE THIS LATER -->
          <!-- <button ng-click="postsShow.deleteSuggestion(suggestion)" ng-show="postsShow.postOwner">Delete</button></li> -->

          <div class="suggestion-add" ng-click="postsShow.formVisible = postsShow.formVisible ? false : true" ng-hide="postsShow.post.suggestions.length >= 3">
            <span>+</span>
          </div>

          <!-- ng-show refers to the code wirtten in posts controller -->
        </ul>

      </div>

      <!-- <h2>Categories:</h2> -->
      <ul>
        <li ng-repeat="category in postsShow.post.categories">
          <a ui-sref="categoriesShow({id: category.id})">
            Category id: {{ category.id }}, Name: {{ category.name }}
          </a>
        </li>
      </ul>

      <button ng-click="postsShow.deletePost()" ng-show="postsShow.postOwner">Delete Post</button>
    </div>

    <div class="popup" ng-show="postsShow.formVisible">
      <form class="sug-form" ng-submit="postsShow.createSuggestion()">
        <div class="form-group">
          <drag-drop base64="postsShow.newSuggestion.base64"></drag-drop>
        </div>
        <div class="form-group">
          <input type="text" name="link" placeholder="link" ng-model="postsShow.newSuggestion.link" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="price" placeholder="price" ng-model="postsShow.newSuggestion.price" class="form-control">
        </div>
        <input type="submit" value="Create Suggestion" class="btn">
        <button type="button" ng-click="postsShow.formVisible = false" class="btn">Cancel</button>
      </form>
    </div>
</section>
