<div class="popup" ng-show="main.registerVisible" ng-controller="RegisterController as register">
  <form novalidate ng-submit="register.submit(); main.falseVisible = false">
    <div>
      <label>Username</label>
      <input type="text" placeholder="Username" ng-model="register.user.username">
    </div>
    <div>
      <label>Email</label>
      <input type="email" placeholder="Email" ng-model="register.user.email">
    </div>
    <div>
      <label>Password</label>
      <input type="password" placeholder="Password" ng-model="register.user.password">
    </div>
    <div>
      <label>Password Confirmation</label>
      <input type="password" placeholder="Password Confirmation" ng-model="register.user.password_confirmation">
    </div>

    <button>Register</button>
    <button type="button" ng-click="main.registerVisible = false">Cancel</button>
  </form>
</div>
