<div class="popup" ng-show="main.registerVisible" ng-controller="RegisterController as register">
  <form class="register-form" novalidate ng-submit="register.submit(); main.falseVisible = false">
    <div>
      <label>username:</label>
      <input type="text" placeholder="Username" ng-model="register.user.username">
    </div>
    <div>
      <label>email:</label>
      <input type="email" placeholder="Email" ng-model="register.user.email">
    </div>
    <div>
      <label>password:</label>
      <input type="password" placeholder="Password" ng-model="register.user.password">
    </div>
    <div>
      <label>password confirmation:</label>
      <input type="password" placeholder="Password Confirmation" ng-model="register.user.password_confirmation">
    </div>

    <div>
      <label>profile image:</label>
      <drag-drop base64="register.user.base64"></drag-drop>
    </div>

    <button>register</button>
    <!-- |<a type="button" class="button">register</a> -->
    <a type="button" class="button" ng-click="main.registerVisible = false">cancel</a>
  </form>
</div>
