<section>

 <div class="col-xs-12 user-details">
   <div class="user-image" style="background-image:url('{{ usersShow.user.image}}')"></div>
   <a>{{ usersShow.user.username}}</a></br>
   <a ng-if="usersShow.isCurrentUser()" ng-click="usersShow.editformVisible = true" class="button">edit</a>
   <a ng-if="usersShow.isCurrentUser()" ng-click="usersShow.delete()" class="button" id="plus">delete</a></br>
   <!-- this is setting the form visible to false, so when you click on it it will change to true and the pop up form will appear -->
   <a ng-if="usersShow.isCurrentUser()" ng-click="usersShow.postformVisible = true" id="plus" class="button">+</a>
 </div>
</section>



<section>
  <!-- <h1>INDEX/HOMEPCATEGORIES LINK GOES HERE</h1> -->
  <ul class="index-grid">
    <li class="index" ng-repeat="post in usersShow.user.posts | orderBy: '-created_at'">
      <div class="index-image" style="background-image:url('{{ post.image }}')" ui-sref="postsShow({id: post.id})"></div>
    </li>
  </ul>
</section>

<div class="popup" ng-if="usersShow.editformVisible" ng-controller="UsersEditController as usersEdit">
  <form ng-submit="usersEdit.update(); usersShow.editformVisible = false">
    <div class="twelve columns">
      <label>Username</label>
      <input type="text" ng-model="usersEdit.user.username" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Email</label>
      <input type="text" ng-model="usersEdit.user.email" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Password</label>
      <input type="password" ng-model="usersEdit.user.password" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Password Confirmation</label>
      <input type="password" ng-model="usersEdit.user.password_confirmation" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Profile Image:</label>
      <drag-drop base64="usersEdit.user.base64"></drag-drop>
    </div>

   <button>Update</button>
   <button type="button" ng-click="usersShow.editformVisible = false">Cancel</button>
  </form>
</div>


<div class="popup" ng-if="usersShow.postformVisible">
  <form class="sug-form" ng-submit="usersShow.createPost()">
    <div>
      <!-- <label>Image</label> -->
      <!-- <input type="text" name="image" placeholder="Image goes here" ng-model="usersShow.newPost.image" class="form-control"> -->
      <drag-drop base64="usersShow.newPost.base64"></drag-drop>
    </div>
    <div>
      <!-- <label>Caption</label> -->
      <input type="text" name="caption" placeholder="Caption" ng-model="usersShow.newPost.caption">
    </div>
    <input type="submit" value="Create Post">
    <button type="button" ng-click="usersShow.postformVisible = false">Cancel</button>
  </form>
</div>
