<section>
  <ul class="index-grid">
    <li class="index" ng-repeat="category in categoriesIndex.all">
      <div class="index-image" style="background-image:url('{{ category.posts[0].image }}')" ui-sref="categoriesShow({id: category.id})">
      <!-- <a ui-sref="categoriesShow({id: category.id})"> -->
        <div class="index-image-overlay">
          <h2>{{category.name}}</h2>
        </div>
      </div>
    </li>
  </ul>
</section>

<section>
  <!-- <h1>INDEX/HOMEPCATEGORIES LINK GOES HERE</h1> -->
  <!-- <ul class="index-grid">
    <li class="index" ng-repeat="post in postsIndex.all">
      <div class="index-image" style="background-image:url('{{ post.image }}')" ui-sref="postsShow({id: post.id})"></div>
    </li>
  </ul>
</section> -->
