<!-- <ul>
  <li ng-repeat="post in categoriesShow.category.posts">
   <img ui-sref="postsShow({id: post.id})" src="{{ post.image }}">

  </li>
</ul> -->
<!-- <div><h1>{{ category.name }}</h1></div> -->

<h1 class="heading">{{categoriesShow.category.name}}</h1>

<section>
  <ul class="index-grid">
    <li class="index" ng-repeat="post in categoriesShow.category.posts">
      <div class="index-image" style="background-image:url('{{ post.image }}')" ui-sref="postsShow({id: post.id})">
        <div class="index-image-overlay">
          <h2>view</h2>
        </div>
      </div>
    </li>
  </ul>
</section>

<!-- <div class="index-image" style="background-image:url('{{ post.image }}')" ui-sref="postsShow({id: post.id})">
  <div class="index-image-overlay">
    <h2>view post</h2>
  </div>
</div> -->
