<div class="popup" ng-show="main.loginVisible" ng-controller="LoginController as login">
  <form novalidate ng-submit="login.submit(); main.loginVisible = false">
    <div>
      <label>Email</label>
      <input type="email" placeholder="Email" ng-model="login.credentials.email">
    </div>
    <div>
      <label>Password</label>
      <input type="password" placeholder="Password" ng-model="login.credentials.password">
    </div>

    <button>Login</button>
    <button type="button" ng-click="main.loginVisible = false">Cancel</button>
  </form>
</div>
